<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Control de Asistencia</title>

        {% block stylesheets %} 
            <!-- inculir estilos css -->
            <link rel="stylesheet" href="{{asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css')}}"/>            
            <script src="{{asset('https://use.fontawesome.com/4779d3d6f8.js')}}"></script>
            <link rel="stylesheet" href="{{asset('assets/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('assets/vendors/iCheck/skins/flat/green.css')}}"/>
            <link rel="stylesheet" href="{{asset('assets/css/jquery-confirm.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('assets/build/css/custom.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('assets/css/main.css')}}"/>


        {%endblock%}
        <script src="{{asset('assets/vendors/jquery/dist/jquery.min.js')}}"></script>
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col menu_fixed">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="{{path('home')}}" class="site_title"><i class="fa fa-code"></i> <span>Control de asistencia</span></a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile">
                          
                                <div class="profile_pic">
                                    {%if (app.user.imame == null) or (app.user.imame == 'null')%}
                                        <img src="{{asset('assets/images/avatar.png')}}" alt="..."  class="img-circle profile_img">
                                    {%else%}
                                        <img src="{{asset('uploads/users/'~app.user.imame)}}" alt="..." class="img-circle profile_img">
                                    {%endif%}
                                </div>
                           
                            <div class="profile_info">
                                <span>Bienvenido,</span>
                                <h2>{{app.user.name}} {{app.user.surname}}</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3 style="opacity:0 ;">General</h3>
                                <ul class="nav side-menu">
                                    <li><a><i class="fa fa-id-card-o"></i> Cursos <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            {%if app.user.role == 'ROLE_ADMIN'%}
                                            <li><a href="{{path('course_list')}}">Todos los cursos</a></li>
                                            {%endif%}
                                            <li><a href="{{path('home')}}">Mis cursos</a></li>
                                            <li><a href="{{path('create_course')}}">Crear curso</a></li>
                                        </ul>
                                    </li>                                  
                                    <li><a><i class="fa fa-user"></i> Profesores <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="{{path('users')}}">Listado de profesores</a></li>
                                            {%if app.user.role == 'ROLE_ADMIN'%}
                                            <li><a href="{{path('register')}}">Crear profesor</a></li>
                                            {%endif%}
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-users"></i> Alumnos <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="{{path('my_students')}}">Mis alumnos</a></li>
                                            {%if app.user.role == 'ROLE_ADMIN'%}
                                            <li><a href="{{path('all_students')}}">Todos los alumnos</a></li>
                                            {%endif%}
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- /sidebar menu -->

                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                       {%if (app.user.imame == null) or (app.user.imame == 'null')%}
                                            <img src="{{asset('assets/images/avatar.png')}}" alt="...">{{app.user.name}} {{app.user.surname}}
                                        {%else%}
                                            <img src="{{asset('uploads/users/'~app.user.imame)}}" alt="...">{{app.user.name}} {{app.user.surname}}
                                        {%endif%}

                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="{{path('user')}}"> Mis Perfil</a></li>                                        
                                        <li><a href="{{path('edit_my_data')}}"> Editar mis Datos</a></li>
                                        <li><a href="{{path('logout')}}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">
                    <!-- mostrar los mensajes flash -->
                    <div class="row">
                        <article class="col-md-12">
                            {% for message in app.session.flashbag().get('status')%}
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{message}}
                                </div>
                            {%endfor%}
                        </article>
                    </div>
                    {% block content %} 
                        Content Default
                    {%endblock%}
                </div>
                <!-- /page content -->

                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Control de Asistencia
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        {% block javascript %} 
            <!-- inculir archivos js -->
            <script>
                //Obtener el url del proyecto
                var URL = "{{ app.request.getSchemeAndHttpHost() }}/web";
            </script>

            <script src="{{asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('assets/vendors/fastclick/lib/fastclick.js')}}"></script>
            <script src="{{asset('assets/vendors/nprogress/nprogress.js')}}"></script>
            <script src="{{asset('assets/js/jquery-confirm.min.js')}}"></script>
            <script src="{{asset('assets/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')}}"></script>
            <script src="{{asset('assets/build/js/custom.js')}}"></script>  
            <script src="{{asset('assets/js/jquery-ias.min.js')}}"></script>
            <script src="{{asset('assets/js/main.js')}}"></script>
        {%endblock%}
    </body>
</html>